# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
public/*.js
public/*.css
public/*.ttf
public/*.svg
public/*.eot
public/*.ico
public/*.html

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

